<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head.ejs") %>

  <body>
    
    <%- include("./partials/header.ejs") %>

    <img src="images/img-home-banner.jpg" alt="banner" class="banner">

    <main>
      <section>
        <h2 class="titular">Basado en tu última visita</h2>

        <% basedOn.forEach(article => { %>
          <article>
            <img src= <%= "/img/" + article.img %>  >
  
            <div class="icon">
              <i class="fas fa-truck"></i>
            </div>
  
            <p>
              <span class="precio">$ <%= article.price %> </span>
              <span class="descuento"><%= article.off %>%&nbspoff</span>
            </p>
  
            <h3 class="descripcion"> <%= article.name %> </h3>
          </article>
        <% }) %>

      </section>

      <section>
        <h2 class="titular">Ofertas</h2>

        <% onSale.forEach(article => { %>
          <article>
            <img src= <%= "/img/" + article.img %>  >
  
            <div class="icon">
              <i class="fas fa-truck"></i>
            </div>
  
            <p>
              <span class="precio">$ <%= article.price %> </span>
              <span class="descuento"><%= article.off %>%&nbspoff</span>
            </p>
  
            <h3 class="descripcion"> <%= article.name %> </h3>
          </article>
        <% }) %>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>

</html>